name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }} @ ${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre:
    name: Pre
    permissions:
      actions: write
    runs-on: ubuntu-latest
    outputs:
      should-skip: ${{ steps.pre.outputs.should-skip }}
    steps:
      - id: pre
        name: Skip Duplicate Actions
        uses: liblaf/actions-ts/pre@dist
        with:
          cancel-others: true

  build:
    name: Build
    needs:
      - pre
    if: needs.pre.outputs.should-skip != 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: |-
          bun install
          bun pm bin >> "$GITHUB_PATH"
      - name: Build
        run: bun run build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  deploy:
    name: Deploy
    permissions:
      contents: write
    needs:
      - build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: dist
          single-commit: true
